body, html {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* The image used */
    background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url("food5.jpeg");
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Slabo 27px', serif;
        flex: 1
}

h1{
    color: white;
}
.header .container{
    text-align: center;

}
.header h1{
    padding-top: 10%;
}

.fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; 
}
.main {
    flex: 1 1 0;
    display: flex;
}
.container-fluid {
    display: flex;
}








